@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.ttf)
}
body {
	background-color: #E5FCFF;
	font-family: Quicksand;
	font-size: 20px;
	margin: 0;
}
header {
	background-color: #ACACDE;
}
.info_block {
	border-radius: 20px;
	display: inline-block;
	padding: 16px;
	word-wrap: break-word;
}
footer {
	background-color: #C490D1;
}
.gallery_image {
	display: block;
	margin: 0 auto;
}
.skill {
	border: 2px solid #450057;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	color: white;
}
nav {
	margin: 0 auto;
    text-align: right;
}
.navbar {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}
.nav_link {
	text-decoration: none;
	color: #E5FCFF;
}
li {
	display: inline;
	margin-right: 75px;
}
section {
	margin-left: 85px;
}
button {
	background-color: #B8336A;
	border: none;
	border-radius: 20px;
	color: white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Quicksand;
	display: inline-block;
	float: left;
	font-size: 18px;
}
.contact_link {
	color: black;
}