@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.ttf)
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	background-color: #E5FCFF;
	font-family: Quicksand;
	font-size: 20px;
	margin: 0;
	height: 100%;
}
main {
	flex-grow: 2;
}
.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}
header {
	background-color: #ACACDE;
	height: 85px; 
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}
.header_block {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	position: absolute; 
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
}
.info_block {
	border-radius: 20px;
	display: inline-block;
	padding: 16px;
	word-wrap: break-word;
	position: relative;
	flex-grow: 1;
	margin-right: 85px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.info_block h2 {
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.links_block {
	background-color: #ABDAFC; 
	width: 268px; 
	height: 291px; 
	margin-left: 90px;
}
.education_block {
	background-color: #ACACDE; 
	width: 365px; 
	height: 424px; 
	margin-right: 90px;
}
.skills_block {
	background-color: #C490D1; 
	width: 817px; 
}
.gallery_image {
	display: block;
	margin: 0 auto;
}
.skill {
	border: 2px solid #450057;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	color: white;
}
.navbar {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}
.nav_link {
	text-decoration: none;
	color: #E5FCFF;
}
.nav_link:hover {
	color: #c2f8ff;
}
li {
	display: inline;
	margin-right: 75px;
}
section {
	margin-left: 85px;
	margin-bottom: 140px;
	min-width: 0;
}
button {
	background-color: #B8336A;
	border: none;
	border-radius: 20px;
	color: white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Quicksand;
	float: left;
	font-size: 18px;
	width: 250px;
	height: 50px;
	margin-left: 50px;
	margin-right: 16px;
}
button:hover {
	background-color: #c4608a;
}
.contact_link {
	color: black;
}
.flex_container {
	display: flex;
	justify-content: space-between;
}
.list_item {
	margin-top: 0;
}
.item_with_icon_block {
	display: flex; 
	align-items: flex-start;
}
.gallery_item {
	margin-bottom: 85px;
}
.gallery {
	position: relative;
	min-width: 0;
}
.gallery h2 {
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 50%;
    margin-right: -50%;
	margin-left: -42px;
    transform: translate(-50%, -50%)
}
.flex_gallery {
	flex-wrap: wrap
}
.experience_item {
	background-color: #ABDAFC; 
	width: 478px; 
}
.life_item {
	background-color: #ACACDE; 
	width: 478px; 
}
footer {
	background-color: #C490D1;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.shadow {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.anchor {
	position: absolute;
	top: -150px;
}
.slider_item {
	display: inline-block;
	border-radius: 20px;
	padding: 16px;
	word-wrap: break-word;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin-bottom: 26px;
}
.swiper {
	margin-right: 85px;
	position: relative;
	min-width: 550px;
}
.swiper .swiper-slide {
	text-align: center;
	padding: 10px;
	width: auto;
}
.swiper .swiper-button-prev::after, 
.swiper .swiper-button-next::after {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #C490D1;
	font-size: 60px;
	text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.swiper .swiper-button-prev:hover::after, 
.swiper .swiper-button-next:hover::after {
	color: #B8336A;
}
.swiper .swiper-pagination {
	margin-top: 30px;
}
.swiper .swiper-pagination-bullet-active {
	background-color: #C490D1;
}
.gradient {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), 90%, #E5FCFF);
	z-index: 5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}